#login__Page, #signup__Page {

    .login__Box, .signup__Box {
        width: 100vw;
        height: calc(100vh - 115px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button{
           font-size: 18px;
           margin: 10px 20px;
           padding: 10px 17px;
           border: 1px solid transparent;
           &:hover{
               @include border
           }
        }
        a{font-size: 18px;}
    
    }
    .inner__Box{
        background-color: $bgLight;
        width: 300px;
        height: auto;
        padding: 10px 20px;
        display: flex;
       flex-direction: column;
        justify-content: center;
       align-items: center;
       p{
           margin-bottom: 10px;
           text-align: left;
           width: 225px;
       }
       input {
           @include input;
           margin-left: 0;
           margin-right: 0;
           width: 225px;
       }
       .input__err{
        @include inputErr;
       }

    }
    .err{
        @include err;
    }
}